<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/cheatsheet.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#search">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#browse">Browse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h1 class="section-heading">{{ name }}</h1>
            <hr class="my-4">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-location-arrow fa-2x mb-3 sr-contact" style="color:rgba(255, 255, 255, 0.8)"></i>
            <p>{{ address }}</p>
          </div>
          <div class="col-lg-4 mx-auto text-center">
            <i class="fa fa-phone fa-2x mb-3 sr-contact" style="color:rgba(255, 255, 255, 0.8)"></i>
            <p>{{ phone }}</p>
          </div>
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-yelp fa-2x mb-3 sr-contact" style="color:rgba(255, 255, 255, 0.8)"></i>
            <p>
              <a href="{{ url }}">Yelp Page</a>
            </p>
          </div>
        </div>
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-faded">Best Items</h2>
        </div>
        <div id="best">
        <table align="center">
          {% for item in best %}
          <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ '$' + item[2]|string }}</td>
          </tr>
          {% endfor %}
        </table>
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Worst Items</h2>
        </div>
        <div id="worst">
        <table align="center">
          {% for item in worst %}
          <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ '$' + item[2]|string }}</td>
          </tr>
          {% endfor %}
        </table>
        </div>
      </div>
    </header>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/cheatsheet.min.js"></script>

  </body>

</html>
