<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Menu Cheatsheets NYC</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/creative.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#search">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#browse">Browse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Menu Cheatsheets NYC</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Trying out a new restaurant and don't know what to order? Flipping through a ten-page long menu and experiencing choice overload? Use a cheatsheet!</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#search">Start</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="search">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Get menu item recommendations!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Lookup a restaurant by name and get recommendations, based on aggregated Yelp reviews, for the most popular and least popular menu items.</p>
            <form autocomplete="off" action="/cheatsheet" method='POST' >
              <div class="autocomplete" style="width:300px;">
                <input type="text" name="restaurant_name" id="lookup" placeholder="Restaurant" size="50"/>
              </div>
                <input type="submit" value="Lookup" class="btn btn-light btn-xl js-scroll-trigger" href="/cheatsheet"/>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="browse" id="browse">
      <div class="container text-center">
        <h2 class="mb-4">Crowd Favorites</h2>
        <hr class="light my-4">
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5">Browse the top rated menu items of all restaurants in New York City.</p>
        </div>
      </div>
    </section>

    <section class="p-0">
      <div class="container-fluid p-0">
        </div>
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="static/img/portfolio/fullsize/pizza.jpg">
              <img class="img-fluid" src="static/img/portfolio/thumbnails/pizza.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Artichoke Basille's Pizza and Bar
                  </div>
                  <div class="project-name">
                    Slice of Artichoke Pizza
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="static/img/portfolio/fullsize/bagel.jpg">
              <img class="img-fluid" src="static/img/portfolio/thumbnails/bagel.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Ess-a-Bagel
                  </div>
                  <div class="project-name">
                    Bagel with Cream Cheese Sandwich
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="static/img/portfolio/fullsize/pekingduck.jpg">
              <img class="img-fluid" src="static/img/portfolio/thumbnails/pekingduck.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Peking Duck House
                  </div>
                  <div class="project-name">
                    Peking Duck
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="static/img/portfolio/fullsize/steak.jpg">
              <img class="img-fluid" src="static/img/portfolio/thumbnails/steak.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Delmonico's
                  </div>
                  <div class="project-name">
                    Delmonico Steak
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="static/img/portfolio/fullsize/dimsum.jpg">
              <img class="img-fluid" src="static/img/portfolio/thumbnails/dimsum.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Dim Sum Palace
                  </div>
                  <div class="project-name">
                    Dim Sum Tray
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="static/img/portfolio/fullsize/churros.jpg">
              <img class="img-fluid" src="static/img/portfolio/thumbnails/churros.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Sweet Churros
                  </div>
                  <div class="project-name">
                    Ice Cream Churro
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="static/img/portfolio/fullsize/ramen.jpg">
              <img class="img-fluid" src="static/img/portfolio/thumbnails/ramen.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Jin Ramen West Harlem
                  </div>
                  <div class="project-name">
                    Tonkotsu Ramen
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="static/img/portfolio/fullsize/lobster.jpg">
              <img class="img-fluid" src="static/img/portfolio/thumbnails/lobster.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Luke's Lobster
                  </div>
                  <div class="project-name">
                    Lobster Roll
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="static/img/portfolio/fullsize/raclette.jpg">
              <img class="img-fluid" src="static/img/portfolio/thumbnails/raclette.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Raclette
                  </div>
                  <div class="project-name">
                    Suisse Raclette
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's connect!</h2>
            <hr class="my-4">
            <p class="mb-5">If you're interested in learning more about my projects or discussing an opportunity to work together, feel free to reach out via the methods below.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">al3058@columbia.edu</a>
            </p>
          </div>
          <div class="col-lg-4 mx-auto text-center">
            <i class="fa fa-github fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="https://github.com/ada-lin">@ada-lin</a>
            </p>
          </div>
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-linkedin fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="https://linkedin.com/in/adalin15">@adalin15</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/creative.min.js"></script>

    <!-- Script for autocomplete on restaurant search bar -->
    <script src="static/js/dropdown.js"></script>

  </body>

</html>
